@inherits LayoutComponentBase

<PageTitle>Home</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <div class="row viewport">
        <div class="col-12 top-bar">
            @*TODO:Check for Pro Licence (TopBar makes more than 1 Call per second!)*@
            @*<TopBar/>*@
        </div>
        <main class="page-content">
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

</div>